/*=====================================================================================================
============================= 0PX AND UP Iphone 4 =============================
=====================================================================================================*/

@media (min-width: 0px) {

    .loginFormCoat{
        padding: 30px 25px !important;
        background: #f4f4f4;
        border-radius: 20px;
        width: 100%;
        min-height: 200px;
        border: 1px solid #e3e3e5;
    }


}


/*=====================================================================================================
=========================== 345PX AND UP Galaxy S5 ===========================
=====================================================================================================*/

@media (min-width: 345px) {
	
	

}


/*=====================================================================================================
=========================== 395PX AND UP Iphone 8+ ===========================
=====================================================================================================*/

@media (min-width: 400px) {
	

	
}


/*=====================================================================================================
=========================== 570PX AND UP Blackberry Playbook ===========================
=====================================================================================================*/

@media (min-width: 570px) {
	
    .loginFormCoat{
        padding: 50px !important;
        background: #f4f4f4;
        border-radius: 20px;
        width: 100%;
        min-height: 200px;
        border: 1px solid #e3e3e5;
    }

	
	
}



/*=====================================================================================================
=========================== 690PX AND UP Galaxy Tab S4 ===========================
=====================================================================================================*/

@media (min-width: 690px) {

	
	
}


/*=====================================================================================================
=============================== TABLETS, 768PX AND UP Ipad ===============================
=====================================================================================================*/

@media (min-width: 768px) {

	

}



/*=====================================================================================================
=============================== SMALL DESKTOPS, 992PX AND UP Mini Laptops ===============================
=====================================================================================================*/

@media (min-width: 992px) {
	

	
}

/*=====================================================================================================
======================== LARGE DESKTOPS, 1200PX AND UP Normal Laptops =========================
=====================================================================================================*/

@media (min-width: 1200px) {


	
}













